<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Purchase Order</title>
</head>
<body>
	<header>
		<div>{{company.name}}</div>		
		<div>{{company.address}}</div>		
		<div>{{company.rc}}</div>		
		<div>{{company.nif}}</div>		
		<div>{{company.ai}}</div>		
		<div>{{company.nis}}</div>		
		<div>{{company.phone}}</div>		
		<div>{{company.mobile}}</div>		
		<div>{{company.bank}}</div>		
	</header>
	<main>
		<div>{{invoice.Supplier.datavalues.name}}</div>
		<h4>BON DE COMMANDE N: </h4>
		<div>Veuillez accepter notre commande suivante:</div>
		<table class="lines-table">
			<tr>
				<th>N</th>
				<th>COD.PROD</th>
				<th>Designation</th>
				<th>Quantité</th>
				<th>Prix U</th>
				<th>Total</th>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</main>
	<footer>

	</footer>
</body>
</html>