<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<header>
		<div>
			ETS DJOUDI BOUAZA INSTALATEUR GPL/C <br>
			RC: 17/00-1547366A17 - NIF: 194380101183182 - AI: 17012013869 <br>
			NIS: 1 994 3801 01183 34 - Cpte Bancaire BNA: 00100654030000153587 <br>
		</div>
		<div>
			<div class="left">
				Date: 02-01-2019 <br>
				Facture N: 02/2019
			</div>
			<div class="right">
				<div>
					Doit
				</div>
				<div>
					<h3>DIFLI ADIL</h3>
					<h4>LEGROS BISKERA</h4>
				</div>
			</div>
		</div>		
	</header>
	<main>
		<table>
			<thead>
				<tr>
					<th>Item</th>
					<th>Désignation</th>
					<th>Qté</th>
					<th>Prix H.T</th>
					<th>Montant H.T</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Conversion d'un vehicule au GPL Carburant</td>
					<td>1</td>
					<td>50458,72</td>
					<td>50458,72</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Conversion d'un vehicule au GPL Carburant</td>
					<td>1</td>
					<td>50458,72</td>
					<td>50458,72</td>
				</tr>
			</tbody>
		</table>

		<table>
			<tr>
				<td>Montant</td>
				<td>50 458,72</td>
			</tr>
			<tr>
				<td>TVA 09%</td>
				<td>4541,28</td>
			</tr>
			<tr>
				<td>Montant T.T.C</td>
				<td>55000,00</td>
			</tr>
			<tr>
				<td>Drois de timbres</td>
				<td>550,00</td>
			</tr>
			<tr>
				<td>NET A PAYER</td>
				<td>55550,00</td>
			</tr>
		</table>
		<p>
			Arreter la présente facture à la somme de: ciquante
		</p>
		<div>
			Mode de paiement: par especes
		</div>
	</main>
	<footer>
		CITE BOUTRIFIS
		TEL: 027 91 38 06
	</footer>
</body>
</html>